* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    margin: auto;
    height: 80px;
    display: grid;
    width: 90%;
    grid-template-columns: 0.8fr 4fr 1fr 3fr;
    gap: 20px;
}

.nav-logo {
    justify-content: space-evenly;
    display: flex;
}

.navbar>div {
    height: inherit;
}

.heading-links-list {
    list-style-type: none;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
    justify-items: center;
}

.heading-links {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.heading-links a {
    text-decoration: none;
    font-size: 1.2rem;
    color: gray;

}

.heading-links a:hover {
    text-decoration: none;
    font-size: 1.2rem;
    color: rgb(41, 41, 41);
}

.nav-right {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.demo {
    background-color: #ff7846;
    padding: 5px 10px;
    color: white;
    border-radius: 5px;
    transition: hover 1s;
    align-items: center;
    transition: background-color 1s;
}

.demo:hover {
    background-color: #ff77465d;
}

.footer-section {
    width: 100%;
    margin: 50px 0;
}

.banner-class {
    margin: 100px 0;
    background: rgb(130, 35, 153);
    background: linear-gradient(40deg, rgb(17, 8, 120) 0%, rgba(130, 35, 153, 1) 100%);
    height: 400px;

}

.banner-class-child {
    /* border: 2px solid rgb(0, 0, 0); */
    width: 80%;
    margin: 50px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 300px;
    padding-bottom: 50px;

}



.testimonial-div {
    width: 40%;
    /* border: 2px solid rgb(255, 0, 0); */
    margin: 50px auto;
    display: block;
}

.testimonial {
    /* border: 2px solid rgb(255, 0, 0); */
    width: 50%;
    margin: auto;
    max-width: 350px;
    background-color: #fff;
    padding: 48px 44px;
    box-shadow: 0 4px 4px rgb(0 0 0 / 25%), 0 1px 8px 1px rgb(176 176 176 / 26%);
    border-radius: 12px;
}

.testimonial>img {
    border-radius: 50%;
    margin-bottom: 20px;
    width: 40%;
}

.testimonial p,
.testimonial h3 {
    margin: 10px;
}

.testimonial-brands {
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
    padding: 10px 0 50px 0;
}

.testimonial-brands>img {
    width: 20%;
    opacity: 50%;

}

.testimonial>p>a {
    text-decoration: none;
}


.demo-div {
    /* border: 2px solid rgb(255, 0, 0); */
    width: 40%;
    margin: 10% auto;
    color: white;

}

.demo-div>div:first-child {
    /* border: 2px solid rgb(255, 0, 0); */
    margin: 20px 0;
    font-size: 1.5rem;
    color: white;

}

.demo-div>div:last-child {
    border: 1px solid white;
    display: flex;
    width: 70%;
    justify-content: space-between;
    padding: 5px;
    border-radius: 40px;
    color: white;
    border: none;
    background-color: #1d0968;

}

.demo-div>div:last-child>input[type='email'] {
    background-color: #1d0968;
    width: 70%;
    border-radius: 40px;
    font-size: 1.1rem;
    color: white;
    border: none;
    padding: 0 10px;
}

.demo-div>div:last-child>input[type='submit'] {
    padding: 5px;
    width: 30%;
    border-radius: 40px;
    color: white;
    background-color: #7f45ff;
    border: none;
}

/* footer-links */

.footer-links {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    padding: 20px 0;
    width: 70%;

}

.footer-links>div {
    width: 20%;
}

.footer-links>div>ul {
    margin-top: 20px;
    list-style: none;
}

.footer-links>div>ul li {
    line-height: 2;
    color: grey;
    padding-left: 0px;
    transition: padding 0.3s;
}

.footer-links>div>ul li:hover {
    padding-left: 10px;
}

.footer-links h4 {
    padding-left: 0px;
    transition: padding 0.3s;
    color: blue;
}

.footer-links h4:hover {
    color: blue;
    padding-left: 10px;
}

.footer-social-icons {
    display: flex;
    width: 70%;
    margin: 50px auto 20px;
    justify-content: space-between;
}

.footer-social-icons>div:first-child {
    width: 20%;
}

.footer-social-icons>div:last-child {
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.check {
    border: 1px solid rgb(102, 255, 0);

}
.floating-icon{
    display: flex;
    justify-content: space-between;
    position: sticky;
    bottom: 1rem;
    align-self: flex-end;
}