*{
    margin: 0;
    padding: 0;
}

#container {
    margin: auto;
    padding-bottom: 100px;
}
.check{
    width: 110%;
    height: 200px;
    margin: auto;
    
}
/* top most section */
.homepage-mid-top{
    margin: 50px auto ;
    padding: 50px;
    width: 80%;
    border: 2px dodgerblue solid;
}
/* section one slider images */
.section-1{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 0 auto ;
}

.slider{
    width: 1%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.slider>label{
    width: 10px;
    height: 10px;
    display: inline-block;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid #d4d4e8;
    transition: .3s;
    margin: 5px 0;
}
.section-1-heading{
    font-size: 1.2rem;
    width: 30%;
    padding: 40px; 
    margin-right: 200px;
}
.image-slider{
    width: 50%;
    z-index: -1;
    display: flex;
    margin: 50px -100px;
    background: linear-gradient(180deg,rgba(91,1,180,.08) 0,rgba(255,255,255,0) 100%),#fff;
    box-shadow: -20px 18px 25px -4px #eef;
    border-radius: 80px;
    transform: translateX(-80px) translateY(-200px) rotate(330deg);
    overflow: hidden;
    
}
.namesofslider{
    display: flex;
    align-items: flex-end;
    rotate: -330deg;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: center;

}

.image-slider>img{
    text-align: center;
    width: 60%;
    height: 110%;
    rotate: -330deg;
}

.sec-buttons{
    padding: 10px;
    width: 30%;
    border-radius: 40px;
    color: white;
    background-image: linear-gradient(to right bottom,#4300a3,#4d00aa,#5700b1,#6000b7,#6a00be,#7200c5,#7b00cb,#8300d2,#8c00da,#9500e2,#9e00e9,#a700f1);
    margin-top: 20px;
    margin-right: 15px;
    transition: 0.2s;
}

.sec-buttons:hover{
    opacity: 80%;
    background-image: linear-gradient(to right bottom,#4300a3,#4d00aa,#5700b1,#6000b7,#6a00be,#7200c5,#7b00cb,#8300d2,#8c00da,#9500e2,#9e00e9,#a700f1);
}
.sec-sign-btn{

    padding: 10px;    
    border-radius: 40px;
}


.sliderlabel{
    width: 100px;
    background-image: linear-gradient(to right bottom,#4300a3,#4d00aa,#5700b1,#6000b7,#6a00be,#7200c5,#7b00cb,#8300d2,#8c00da,#9500e2,#9e00e9,#a700f1);
    box-shadow: 20px 18px 25px 4px #eef;
    transition: 0.5s;
    border-radius: 10px;
    height: 20px;
    border: none;
    

}

/* comp[anies carsol */
/* top-carousel */
#top-carousel {
    width: 60%;
    margin:  auto;
    overflow: hidden;
}
#top-carousel>div>img{
    background-color: rgba(0, 0, 0, 0.447);
    padding: 0 10px;
    margin: auto 20px;
    transition: 1s;
    border-radius: 10px;
    
}
/* card section */
.top-cards{
width: 80%;
display: flex;
margin: 50px auto;
padding: 10px;
justify-content: space-between;
}
.top-card-left{
    width: 30%;
    display: flex;
    align-items: center;
}
.top-card-right{
width: 60%;
display: grid;
grid-template-columns: repeat(2,1fr);
gap: 20px;

}
.top-card-right>div{
    padding: 50px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;
}
.top-card-right>div>a{
    color: #4300a3;
    margin-top: 50px;
    display: block;
    text-align: right;
}
.top-card-right>div>p{
    margin: 20px 0;
    color: rgb(91, 91, 91);
}
.top-card-right>div:hover{
    margin-left:   1px ;
    box-shadow: 20px 18px 25px 4px #eef;
    transition: 0.10s;
    cursor: pointer;
}